[submodule "toolchain"]
	path = toolchain
	url = https://github.com/kdrag0n/proton-clang
[submodule "kali-nethunter"]
	path = kali-nethunter
	url = https://gitlab.com/kalilinux/nethunter/build-scripts/kali-nethunter-kernel-builder

