[submodule "toolchain"]
	path = toolchain
	url = https://github.com/kdrag0n/proton-clang
[submodule "kali-nethunter"]
	path = kali-nethunter
	url = https://gitlab.com/kalilinux/nethunter/build-scripts/kali-nethunter-kernel-builder
[submodule "drivers/net/wireless/realtek/rtl8188eus"]
	path = drivers/net/wireless/realtek/rtl8188eus
	url = https://github.com/aircrack-ng/rtl8188eus.git
[submodule "drivers/net/wireless/realtek/rtl88x2bu"]
	path = drivers/net/wireless/realtek/rtl88x2bu
	url = https://github.com/akabul0us/rtl88x2bu.git
